:root{
    --image-url: url(imagen/1.jpg);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Arial';
}



.fondo{
    background: #f2f2f2;
    padding-top: 50px;
}

.contenedor-imagen{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagenes-contenedor{
    width: 31%;
    height: 250px;
    margin-bottom: 20px;
}

.imagenes-contenedor img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.show{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    transform: scale(0);
    transition: transform .3s;
}

.show:target{
    transform: scale(1);
}

.show__contenedor{
    margin: auto;
    width: 90%;
    height: 95%;
    position: relative;
    background-image: var(--image-url);
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .3);
}

.show--n2{
    --image-url: url(imagen/2.jpg);
}

.show--n3{
    --image-url: url(imagen/3.jpg);
}

.show--n4{
    --image-url: url(imagen/4.jpg);
}

.show--n5{
    --image-url: url(imagen/5.jpg);
}

.show--n6{
    --image-url: url(imagen/6.jpg);
}

.show__close{
    background: crimson;
    color: #FFF;
    text-decoration: none;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: -20px;
    right: -20px;
    border-radius: 50%;
}



